@font-face {
    font-family: Logo;
    src: url(Font-logo/Alberobello\ Serif.woff);
  }
*{
    box-sizing: border-box;
}
  div.logo>a{
    font-size:40px;
    font-family: logo;
    color:#f0f1f5;
    padding:2px;
    margin-left: 40px;
    display: block;
}
body{
    background-color: #f0f1f5 !important;
}
nav ul.Menu{
    list-style-type: none;
    background-color: #2d2f33;
    display:flex;
    margin:0;
    padding:0;
    justify-content: flex-end; 
    width:100%;
}
nav ul.Menu a h1{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px;
    padding:15px;
}
nav ul.Menu a{
    width: 100%;
    height: 100%;
    display:block;
    text-decoration: none;
    color:#f0f1f5;
    padding:5px;
}
nav ul.Menu>li{
    max-width: 300px;
}
nav ul.Menu>li:first-child{
    border-left: 0px;
}
ul.Menu li>a:hover{
    background-color: #383a3d;
}
ul.Menu li:first-child{
    margin-right:auto;
}
.search{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.search input{
    padding:5px;
    background-color: #383a3d;
    width:75%;
    border-radius: 10px 10px;
     border:none;
}
img.search{
    width: 10px;
    position:relative;
    left:-20px;
}
.banner{
    display:block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
/*THUCDON*/
div.items{
    display: flex;
    flex-wrap:wrap;
}
div.item{
    background-color: #ffffff;
    width: 25%;
    padding:10px;
    height:600px
}
div.item img{
    width: 100%;
}
div.item h2{
    text-align: center;
    height: 65px;
}
p.DesSp{
    text-align: center;
    height:10%
    
}
span.GiaSp{
    padding-right: 90px;
    text-align: center;
}
input.Muahang{
    margin-right: 40px;
    float: right;
}

