@font-face {
    font-family: Logo;
    src: url(Font-logo/Alberobello\ Serif.woff);
  }
*{
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
  div.logo>a{
    font-size:33px;
    font-family: logo;
    color:#f0f1f5;
    text-decoration: none;
    padding:2px;
    margin-left: 40px;
    display: block;
}
body{
    background-color: #f0f1f5 !important;
}
nav ul.Menu{
    background-color: #2d2f33;
    display:flex;
    margin:0;
    padding:0;
    justify-content: flex-end;
    width:100%;
}
nav ul.Menu a h1{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px;
    padding:15px;
    margin:0;
    text-align: center;
}
nav ul.Menu a{
    width: 100%;
    height: 100%;
    display:block;
    color:#f0f1f5;
    padding:5px;
    text-decoration: none;
}
nav ul.Menu>li{
    max-width: 300px;
}
nav ul.Menu>li:first-child{
    border-left: 0px;
}
ul.Menu li>a:hover{
    background-color: #383a3d;
}
ul.Menu li:first-child{
    margin-right:auto;
}
ul.Menu li:last-child{
    padding:10px;
}
.search{
    display:flex;
    align-items: center;
    height: 100%;
}
input[type=search]{
    padding:5px;
    background-color: #f0f1f5;
    width:75%;
    border:none;
    border-radius: 4px 0 0 4px;
}
div.search input[type="button"] {
    padding:5px;
    border:none;
    background-color: #696d75;
    border-radius: 0 4px 4px 0;
    color: #f0f1f5;
}
.banner{
    display:block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
/*FOOTER*/
footer{
    background-color: #2d2f33;
}
div.footerItems{
    border-right:1px #f0f1f5 solid;
}
div.footerItem{
    display:flex;
    flex-direction: column;
    float:left;
    width: 20%;
    text-align: center;
}
div.footerItem h2{
    color: #f0f1f5;
    padding:20px;
    margin:0;
    text-align: center;
    font-size:20px;
}
div.footerItem p{
    color: #f0f1f5;
    padding:5px;
    font-size:14px;
}
div.Copyright{
    border-top: 1px #f0f1f5 solid;
    color: #f0f1f5;
    text-align: center;
    background-color: #2d2f33;
    clear:left;
}
div.Copyright>p{
    margin:0;
}
div.iconItems{
    display:flex;
    flex-wrap: none;
    justify-content:center;
}
div.iconItem{
    font-size: 40px;
    padding: 10px;
}
div.iconItem div>input{
    width:75%;
    text-align: center;
}
div.iconItem>a{
    color:#f0f1f5;
}
/*THUCDON*/
div.nameDish{
    padding: 10px;
    background-image: linear-gradient(to left, rgba(255,0,0,0), #2d2f33);
    color: #f0f1f5;
    text-align: center;
}
div.nameDish h1{
    font-weight: bold;
    font-size:2rem;
}

div.items{
    display: flex;
    flex-wrap:wrap;
    width: 80%;
    margin:auto;
}
div.item{
    width: 25%;
    padding:10px;
    height: auto;
}
div.twob{
    width:100%;
    display:flex;
    justify-content: center;
}
div.item div{
    transition: ease 0.4s;
}
div.item div.imgPro{
    width: 100%;
    text-align: center;
    padding: 10px;
}
div.item div.imgPro:hover{
    transform:rotate(15deg);
}
div.item div img{
    width:100%;
    max-width: fit-content;
}
div.item div h2{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
div.DesSp p{
    white-space: nowrap;
    overflow: hidden;
    text-align: center; 
    text-overflow: ellipsis;
}
div.GiaSp{
    background-color: #2d2f33;
    color: #f0f1f5;
    text-align: center;
    white-space:nowrap;
    padding: 10px;
    border-radius: 20px 20px;
    font-size: 15px;
    border:none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width:60%;
    overflow: hidden;
    text-overflow:ellipsis;
}
input.Muahang{
    cursor: pointer;
    background-color: red;
    color: yellow;
    text-align: center;
    padding: 10px;
    border-radius: 20px 20px;
    font-size: 15px;
    border:none;
    margin-top: 10px;
    margin-bottom: 10px;
    width:40%;
    overflow: hidden;
    text-overflow:ellipsis;
}
/*BANNER*/
div.description h1{
    font-family: logo;
    font-weight: bold;
    text-align: center;
    margin: 40px;
}
div.concept{
    width: 90%;
}
div.description a h2{
    color: black;
    text-align: center;

}
div.description a{
    text-decoration: none;
}
div.description{
    background-color: #f0f1f5;
    width: 35%;
    margin-left: 250px;
    margin-top: 100px;
    float:left;
}
div.description p{
    padding: 10px;
    float: left;
}
div.image_description img{
    margin-top: 100px;
} 
div.demo{
    display: flex;
}
div.decorate {
    width: 33%;
    margin-top: 40px;
}
div.decorate img{
    width: 100%;
    height: 100%;
}
/*Form dat ban*/
.DatbanForm{
    max-width: 500px;
    margin:auto;
}
.DatbanForm h2{
    padding: 5px;
    text-align: center;
}
.DatbanForm p{
    padding: 5px;
    text-align: center;
}
.formItem{
    display:flex;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
}
.formItem:last-child input{
    background-color: #2d2f33;
    color: #f0f1f5;
    width:100%;
    border:none;
    padding: 15px;
}
.formItem:last-child input:hover{
    background-color: #383a3d;
}
.formItem i{
    background-color: #2d2f33;
    color: #f0f1f5;
    min-width: 40px;
    text-align: center;
    padding: 10px;
}
.field-input{
    width:100%;
    padding:5px;
}
/*Lien he */
.Map{
    margin-left:auto;
    width: 50%;
    padding: 10px;
    float:right;
}
.thumbName h1{
    font-weight: bold;
    text-align: center;
}
.lienheForm{
    width:25%;
}
.Text{
    width:25%;
}
.Text h1{
    padding:5px;
}
.Text p{
    padding:5px;
}
/*Modal-box*/
.modal{
    display:none;
    position: fixed;
    z-index: 1;
    padding-top:2%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
/* Modal Content */
.modalContent {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 98%;
    border-radius: 20px 20px;
  }
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
div.content{
    display:flex;
    width:100%;
    height:90%;
}
div.content>div:first-child{
    text-align: center;
}
div.content>div:last-child{
    background-color: #fafafa;
    border-radius: 20px 20px;
}
div.imgThumb img{
    width:100%;
    position: sticky;
    top: 0;
}
div.content>div:first-child{
    overflow:hidden;
}
div.content>div{
    width:50%; 
    padding:40px;
    overflow-x: hidden;
    overflow-y:auto;
}
div.size{
    border-bottom: #2d2f33 1px solid;
}
div.size ul{
    display:flex;
    justify-content: space-evenly;
    padding:0;
}
div.size ul li {
    width: 20%;
    margin-right:5px;
}
div.size ul li:last-child{
    margin-right: none;
}
input[type="radio"]{
    position: absolute;
    left: -9999px;
}
input[type="checkbox"]{
    position: absolute;
    left: -9999px;
}
div.size ul li label{
    width: 100%;
    height:100%;
    text-align: center;
    background-color: #2d2f33;
    padding: 7px;
    color:#f0f1f5;
    border-radius: 4px;
}
div.size ul > li > input[type="radio"]:checked+label{
    background-color: #1c6be2;
    border: solid #000000 1px;
}
div.size ul > li > input[type="checkbox"]:checked+label{
    border: solid #000000 1px;
}
div h3{
    padding: 10px;
}
div.baseType ul{
    display:flex;
    justify-content:space-between;
    padding:0;
}
div.baseType ul li{
    width: 17%;
    margin-right:10px;
}
div.baseType ul li:last-child{
    margin-right:none;
}
div.baseType ul > li > input[type="radio"]:checked+label{
    background-color: #1c6be2;
    border: solid #000000 1px;
}
div.baseType ul li label{
    width: 100%;
    height:100%;
    text-align: center;
    background-color: #2d2f33;
    padding: 7px;
    color:#f0f1f5;
    border-radius: 4px;
}
div.toping ul{
    display:flex;
    flex-wrap: nowrap;
    padding:0;
}
div.toping ul li{
    margin-right: 10px;
    width: 30%;
}
div.toping ul li:last-child{
    margin-right: none;
}
div.toping ul li label{
    width: 100%;
    height:100%;
    text-align: center;
    color: #2d2f33;
    padding: 7px;
    border-radius: 4px;
    border: #000000 1px solid;
}
div.toping ul li label::before{
    background-color:aqua;
}
/* slideshow toping */

