@media screen and (max-width: 600px){
    body{
        font-family: 'Times New Roman', Times, serif;
    }
    div.item{
        width: 99%;
    }
    nav ul.Menu{
        flex-direction: column;
    }
    div.footerItem{
        width: 100%;
    }
}